.head-banner

    &__content
        height: calc(100vh - 8.25rem);
        min-height: rel-size(650px);
        position: relative;

        +below(1180px)
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        +below(680px)
            min-height: initial;
            height: calc(100vh - 11rem);

    &__parallax
        position: absolute;
        max-width: 90%;
        width: 100%;
        max-height: 100%;
        height: 100%;
        background: #F9F9F9;
        left: 5%;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;

    &__parallax--parallax-image
        position: absolute;
        top: 10%;
        left: 30%;

    &__parallax-scene
        padding: 0;
        margin: 0;

        &--oil
            background: url('/media/images/oil-bg.jpg') center center no-repeat;
            background-size: contain;

    &__parallax-layer
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;

        & > img
            width: 80vmin;
            height: auto;

        &:before
            display: none;

        &--small

            & > img
                width: 80vmin;
                height: auto;

    &__nav
        position: absolute;
        bottom: rel-size(60px);
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;

        +below(1180px)
            position: static;

    &__nav-button
        padding: rel-size(20px);
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: rel-size(350px);
        position: relative;
        transition: transform 0.3s, box-shadow 0.3s;
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0,0,0,0);

        +below(768px)
            width: 40%;
            flex-direction: column;

        &-title
            +below(768px)
                        margin-bottom: rel-size(10px);

        &:hover
            transform: scale(1.025);
            box-shadow: 0 0 25px rgba(0,0,0,0.1);

        &--prev
            //flex-direction: row-reverse;
            +below(768px)
                flex-direction: column-reverse;

            .head-banner__nav-button-arrow
                //position: absolute;
                //top: 50%;
                //left: 20px;
                transform: rotate(180deg);

        &--next

            .head-banner__nav-button-arrow
                //position: absolute;
                //top: 50%;
                //right: 20px;
                //transform: translate(0,-50%);

    &__nav-button-image
        width: rel-size(100px);
        height: rel-size(60px);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 rel-size(10px);

        +below(768px)
            display: none;

        img
            max-width: 100%;
            max-height: 100%;

    &__title
        display: flex;
        align-items: center;
        height: 100%;

        +below(1180px)
            height: initial;

        h1
            position: relative;
            z-index: 100;
            font-family: Montserrat, sans-serif;
            font-style: italic;
            font-weight: bold;
            font-size: rel-size(120px);
            line-height: rel-size(132px);
            color: #3A3A3A;
            margin: 0;
            margin-bottom: rel-size(250px);

            +below(1180px)
                margin: 0;

            +below(680px)
                line-height: initial;
                font-size: 12vmin;

.double-text
    position: relative;

    &:before
        content: attr(data-name);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate(-2%,9%);
        color: white;
        text-shadow: 0 1px 0 #000, 0 -1px 0 #000, 1px 0 0 #000, -1px 0 0 #000;
        z-index: -1;

@supports(-webkit-text-stroke: 1px black) {
    .double-text:before {
        color: transparent;
        -webkit-text-stroke: 1px black;
        text-shadow: none;
    }
}
