.product-row
    background: #F9F9F9;
    padding: rel-size(20px);
    margin-bottom: rel-size(30px);

    &__content
        display: flex;
        justify-content: space-between;
        align-items: center;

    &__title
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: rel-size(20px);
        line-height: rel-size(22px);
        color: #3A3A3A;
        width: rel-size(300px);

    &__size
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: rel-size(18px);
        line-height: rel-size(20px);
        color: #3A3A3A;
        width: rel-size(150px);
        text-align: center;

    &__prise
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: rel-size(20px);
        line-height: rel-size(22px);
        color: #3A3A3A;
        width: rel-size(150px);
        text-align: center;

    &__buttons
        display: flex;
        align-items: center;
        width: rel-size(470px);

        .button
            margin-right: rel-size(30px);

            &:last-child
                margin-right: 0;
