.buttonCart
    &__button
        transition: 1s .3s opacity, 1s bottom, .3s transform !important;
        position: fixed !important;
        bottom: 100px;
        right: 6%;
        opacity: 1;
        &--hide
            transition: 1s opacity, 1s .3s bottom, .3s transform !important;
            opacity: 0;
            bottom: 100%;
