.slide-info
    margin-top: rel-size(30px);

    &__content
        display: none;

    &__button
        display: none;

        &:hover
            text-decoration: underline;
            cursor: pointer;

        &.is-active
            display: block;

    &__controls
        display: inline-block;

        +below(768px)
            display: block;
            text-align: center;

    &__title
        font-weight: bold;
        margin-right: rel-size(10px);
        display: inline-block;
        font-family: Montserrat, sans-serif;
        font-size: rel-size(18px);
        line-height: rel-size(20px);

    &__text
        font-size: rel-size(16px);
        line-height: rel-size(18px);
