header
    flex: 0 0 auto;
    position: relative;
    z-index: 100;
    background: white;

.header
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    height: rel-size(100px);
    position: relative;

.logo
    font-family: Montserrat;
    font-style: italic;
    font-weight: 800;
    font-size: rel-size(16px);
    line-height: rel-size(23px);
    color: #FF1D1D;
    width: 170px;

.header-buttons
    display: flex;
    align-items: flex-end;
    width: 125px;

    +below(1180px)
        width: initial;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

    +below(460px)
        transform: none;
        position: static;

    &__search
    &__cart
        cursor: pointer;
        width: rel-size(35px);
        height: @width;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        +below(1180px)
            margin: 0 rel-size(30px);

        +below(460px)
            margin: 0 rel-size(15px);

        img
            height: 100%;
            width: auto;

    &__cart
        width: rel-size(40px);
        height: @width;
        margin-left: rel-size(80px);
        position: relative;

        +below(1180px)
            margin: 0 rel-size(30px);

        +below(460px)
            margin: 0 rel-size(15px);

        &--basket.is-active

            & .basket-num
                width: 30px;
                height: @width;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2px;
                background: #FF1D1D;
                position: absolute;
                top: 0;
                right: 0;
                font-family: 'Comfortaa', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: rel-size(16px);
                line-height: normal;
                text-align: center;
                color: #FFFFFF;
                transform: translate(40%,-40%);

.basket-num
    display: none;
