.info-line
    background: darkbg;
    min-height: rel-size(65px);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    +below(680px)
        height: initial;
        padding: rel-size(10px) 4%;
        flex-direction: column;

    &__information
        width: 33.3%;
        color: white;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: rel-size(16px);
        line-height: rel-size(25px);

        +below(680px)
            width: 100%;
            margin-bottom: rel-size(10px);

            &:last-child
                margin-bottom: 0;

        &--address
            +below(680px)
                text-align: center;

        &--work-time
            text-align: center;

            +below(680px)
                text-align: center;

        &--phone
            text-align: right;

            +below(680px)
                text-align: center;

            a:hover
                text-decoration: underline;
