.info-line
    background: darkbg;
    height: rel-size(65px);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &__information
        width: 33.3%;
        color: white;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: rel-size(16px);
        line-height: rel-size(25px);

        &--work-time
            text-align: center;

        &--phone
            text-align: right;

            a:hover
                text-decoration: underline;
